body {
  font-family: 'Lato';
}

.hero{
  background-color: $red-bg;
  color: $white;
  text-align: center;
  padding: 80px 0px;

  .fa-diamond {
    font-size: 200px;
    color: $red-light;
    // -ms-transform: rotate(45deg); /* IE 9 */
    // -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    // transform: rotate(45deg);
    @include long-shadow(text, $red-darkest, 15, false, true, left);
  }

  h1 {
    font-size: 3.0em;
    font-weight: 600;
  }

  h2 {
    font-size: 1.6em;
    color: $red-darkest;
  }

  .cta {
    margin: 10px 0px;
  }

}
